header {
    margin-top: 30px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* списки */
header .container .left ul,
header .container .right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* чтобы NavLink не ломал стили */
header .container .left ul a {
    text-decoration: none;
}

/* пункты меню */
header .container .left ul li {
    display: inline-block;
    padding: 18px 30px;
    border-radius: 12px;
    border: 2px dashed #333;
    margin-right: 15px;
    color: #B3B3B2;
    cursor: pointer;
}

/* активная ссылка */
header .container .left ul li.active {
    background-color: #1A1A1A;
    border: none;
}

/* Products кнопка */
header .container .left ul li.linkLeft {
    border: 2px dashed #262626;
}

/* правая часть */
header .container .right ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .container .right ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AE9B84;
    color: #0F0F0F;
    border-radius: 12px;
}

/* корзина */
header .container .right .cartNav {
    background-color: #1A1A1A;
    padding: 18px;
}

header .container .right ul li img {
    display: block;
}

/* контакт */
header .container .right ul li.link {
    padding: 18px 30px;
}